<h1>Testers controller, show action</h1>

<p>Edit this file in <tt>app/views/testers/show.html.erb</tt></p>


<%= link_to 'Edit',  url(:edit_tester,  @tester) %> |
<%= link_to 'Back', url(:testers) %>
